<%- include('partials/dashboardhead') %>
<%- include('partials/translatepage') %>

<main class="md:max-w-7xl md:ml-64 md:px-2">
  <main class="space-y-10">
    <section id="wallets" class="section pt-20">
      <div class="bg-gray-800 p-4 rounded shadow">
        <form class="space-y-4" action="/wallets" method="POST">
          <% if (message) { %>
            <div class="text-center"><%= message %></div>
          <% } %>
          <div>
            <label for="walletAddress" class="block text-sm font-medium mb-1">Wallet Address</label>
            <input type="text" id="walletAddress" placeholder="Enter wallet address"
              class="w-full p-2 bg-gray-900 border border-gray-700 rounded text-white" name="waddress" required/>
          </div>

            <input type="hidden" name="email" value="<%= user.email %>" id="">

          <div>
            <label for="network" class="block text-sm font-medium mb-1">Network</label>
            <input type="text" id="network" placeholder="e.g. Ethereum, BSC"
              class="w-full p-2 bg-gray-900 border border-gray-700 rounded text-white" name="network" required/>
          </div>
          <div>
            <label for="walletName" class="block text-sm font-medium mb-1">Wallet Name</label>
            <input type="text" id="walletName" placeholder="e.g. USDT"
              class="w-full p-2 bg-gray-900 border border-gray-700 rounded text-white" name="walletname" required/>
          </div>
          <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Submit</button>
        </form>
      </div>

      <div class="mt-6 bg-gray-800 p-4 rounded shadow">
        <h3 class="text-xl font-semibold mb-3">Uploaded Wallets</h3>
        <div class="space-y-3">
          <% if (!wallets || wallets.length===0) { %>
            <div class="bg-gray-700 p-3 rounded">
              <p><span class="font-medium text-gray-300">no wallet uploaded yet...</p>
            </div>
          <% } else { %>
              <% wallets.forEach(function(wallet, index) { %>  
                <div class="bg-gray-700 p-3 rounded">
                  <p><span class="font-medium text-gray-300">Name:</span> <%= wallet.walletname %></p>
                  <p><span class="font-medium text-gray-300">Address:</span> <%= wallet.waddress %></p>
                  <p><span class="font-medium text-gray-300">Network:</span> <%= wallet.network %></p>
                  <a href="/deletewallet/<%= wallet._id %>" class="mt-2 bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded text-sm">Delete Wallet</a>
                </div>
              <% }); %>
          <% } %>            
        </div>
      </div>
    </section>
  </main>
</main>
<script src="/js/userdashboard.js"></script>
<%- include('partials/footer') %>